#center-enabler {
  height: 660px;
  width: auto;
  margin-top: 50px;
}

#header-parent {
  width: 100%;
  margin-top: 50px;
}


h1 {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 3.75rem;
  color: #21658c;
  cursor: url(../../assets/face-plate.png), auto;
}

h1:focus {
  outline: 0;
}

.navParent {
  height: 50px;
}

nav a {
  font-size: 1.3rem;
  color: #21658c;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  line-height: 50px;
}

nav a:hover {
  color: #fff;
  transform: scaleY(1.2);
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

nav a:active {
  border: 1px solid #039be5;
}
