
.detail {
  position: relative;
  display: flex;
  color: #21658c;
  font-size: 1.25em;
  height: 450px;
  border-radius: 6px;
  padding-top: 40px;
  float: right;
}

#headshot {
  flex-direction: column;
  width: 600px;
}

#headshot img {
  border: 1px solid #21658c;
  margin: 0 auto;
  display: -webkit-box;
}

#info {
  border-radius: 6px;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 2.6rem;
}

#name, #alias {
  position: relative;
  max-width: 475px;
  line-height: 2rem;
  margin: 0 auto;
}

#alias {
  top: -20px;
}
