.detail {
  position: relative;
  display: flex;
  color: #21658c;
  font-size: 1.25em;
  height: 450px;
  border-radius: 6px;
  padding-top: 40px;
  float: right;
}

.bttn {
  font-size: 1rem;
  width: 140px;
  position: absolute;
  top: -50px;
  left: -300px;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.bttn:focus {
  outline:0;
}

.bttn:active {
  transform: translateY(5px);
}

.bttn:hover {
  color: #fff;
}

#headshot {
  flex-direction: column;
  width: 600px;
  z-index: 1000;
}

#headshot img {
  border: 1px solid #21658c;
  margin: 0 auto;
  display: block;
}

#info {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

#name, #alias {
  position: relative;
  max-width: 475px;
  top: -10px;
  margin: 0 auto;
}

#alias {
  top: -60px;
}
