#metasWrap-parent {
  width: auto;
}

 #metasWrap {
  border-top: 1px solid #21658c;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 480px;
  padding-right: 22px;
 }

 .metas {
   color: lightgray;
   margin: 20px 0 2em 0;
   list-style-type: none;
   padding: 10px 0;
   width: 300px;
   float: left;
   border-radius: 6px;
 }

 li {
   text-align: center;
   line-height: 25px;
   cursor: pointer;
   position: relative;
   left: 0;
   color: #21658c;
   margin: .5em;
   padding: .3em 0;
   height: 1.6em;
   border-radius: 4px;
   -webkit-transition: height all 250ms ease;
   transition: all 250ms ease;
 }

 .selectedMeta {
    opacity: 1;
    color: #999;
  }

 .metas li.selectedMeta:hover {
   color: #999;
  }

  .metas li:hover {
    transform: translateX(10px);
  }

 .metas li:hover {
   color: white;
 }

 .metas .text {
   position: relative;
   top: -3px;
 }

 .metas .badge {
   display: inline-block;
   font-size: small;
   color: white;
   padding: 0.8em 0.7em 0 0.7em;
   background-color: #607D8B;
   line-height: 1em;
   position: relative;
   left: -1px;
   top: -4px;
   height: 1.8em;
   margin-right: .8em;
   border-radius: 4px 0 0 4px;
 }
