#metasWrap-parent {
  width: auto;
}

 #metasWrap {
  border-top: 1px solid #21658c;
  border-bottom: 1px solid #21658c;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 1200px;
  height: 485px;
 }

.angled {
  -webkit-transform:
      translateX(275px)
      translateY(215px)
      rotate(26deg);
  position: absolute;
  top: 20px;
}

.flight {
  border-bottom: 1px solid #999;
  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s;
  -o-animation:      increase 3s;
  animation:         increase 10s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: 10;
  -webkit-animation-duration: 5;
  -moz-animation-duration: 5;

}

@keyframes increase {
  100% {
    width: 970px;
  }
}



 .metas {
   color: lightgray;
   margin: 20px 0 2em 0;
   list-style-type: none;
   padding: 10px 0;
   width: 300px;
   float: left;
   border-radius: 6px;
 }

 li {
  z-index: 1000;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  position: relative;
  left: 0;
  color: #21658c;
  margin-top: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-transition: height all 250ms ease;
  transition: all 250ms ease;
 }

 .selectedMeta {
    color: #fff;
  }

 .metas li.selectedMeta:hover {
    color: #fff;
  }

  .metas li:hover {
    color: white;
  }

  .metas li:active {
    transform: translateY(5px);
  }

 .metas .text {
    position: relative;
    top: -3px;
 }
