#metasWrap-parent {
  width: auto;
}

 #metasWrap {
  border-top: 1px solid #21658c;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 480px;
 }

 .metas {
   color: lightgray;
   margin: 20px 0 2em 0;
   list-style-type: none;
   padding: 10px 0;
   width: 300px;
   float: left;
   border-radius: 6px;
 }

 li {
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  position: relative;
  left: 0;
  color: #21658c;
  margin-top: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-transition: height all 250ms ease;
  transition: all 250ms ease;
 }

 .selectedMeta {
    color: #999;
  }

 .metas li.selectedMeta:hover {
    color: #999;
  }

  .metas li:hover {
    transform: translateX(10px);
    color: white;
  }

 .metas .text {
    position: relative;
    top: -3px;
 }
