$default-delay: 0.5s;
$start-position: -1000px;
$end-position: 300px;

#profile-btn {
  position: absolute;
  left: -145px;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
  opacity: 0.4;
  z-index: 1000;
}

li {
  position: relative;
  z-index: 10000;
}

.slide {
  animation: 1s slideup;
  -moz-transition: display $default-delay ease 0.01s;
  -o-transition: display $default-delay ease 0.01s;
  -webkit-transition: display $default-delay ease 1s;
  transition: display $default-delay ease 0.01s;
}

.not-hiddn {
  display: block;
  animation: $default-delay slidedown;
  left: $end-position;
}

@-webkit-keyframes slidedown { from { top: $start-position; } to { top: 0; }  }
@keyframes slidein { from { top: $start-position; } to { margin-bottom: 0%; }  }

@-webkit-keyframes slideup { from {top: 0; } to { top: $start-position; }  }
@keyframes slideout { from { margin-bottom: 0%; } to { top: $start-position; }  }

#encloser {
  position: absolute;
  top: 0;
  left: -300px;
  width: 900px;
  height: 505px;
  overflow: hidden;
}

#profile-panel {
  margin: 25px 0;
  background-image: url('../../assets/circuitboardBG.jpg');
  position: relative;
  top: 0;
  left: 0;
  right: $start-position;
  width: 870px;
  height: 290px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: white;
  padding: 80px 0;
  font-family: helvetica;
  font-weight: 600;
  z-index: 1000;
}

#profile-panel ul, span {
  margin: 0 auto;
  width: 700px;
  height: 400px;
  font-size: 1.1rem;
  line-height: 2rem;
}

#profile-panel span {
  border-bottom: 1px solid #21658c;
  padding-left: 10px;
  height: auto;
  width: 860px;
  position: absolute;
  top: 0;
}
