.bttn {
  font-size: .8em;
  width: 145px;
  height: 20px;
  position: absolute;
  top: -50px;
  left: -300px;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.bttn:active {
  top: -48px;
}

 .bttn:hover {
  color: #999;
}

.red, .red:hover {
  color: #8e0b0b;
}

.bttn-mask {
  color: #bbb;
  z-index: -1;
}
