<div id="port">

  <div id="body">
    <video id="my-video" class="video" autoplay="autoplay" width="300" height="150">
      <source src="../assets/media/civil.mp4" type="video/mp4" />
      <!-- <source src="../assets/media/civil.ogv" type="video/ogg" />
      <source src="../assets/media/civil.webm" type="video/webm" /> -->
    </video>
  </div>

  <footer>
    <div id="grid-wrap" class="background">
      <div class="grid grid-pad">
        <!--'metas' are those shown on the dashboard-->
        <a *ngFor="let clicked of metas" class="row-of-5"
        (click)="onSelect(clicked)">
          <div class="dashBtns niceShift">
            <div id="meta-name">{{clicked.name | uppercase}}</div>
            <div id="meta-logo"><img src = '{{clicked.logo}}' alt = 'Meta Symbol' ></div>
          </div>
        </a>
      </div>
    </div>
  </footer>

</div>
