<div id="rating">

  <div id="profile-btn" class="bttn background"
  (click)="toggle = !toggle; messageIn(); hidePanel();"
  (mouseenter) = "arrowShow()"
  (mouseleave) = "arrowShow()"
  [class.red] = "toggle"
    ><span>PROFILE<img id="profile-img"
      [class.hide] = "!toggle"
      [class.unhide] = "arrow"
      [class.rotate] = "toggle"
      src = "../../assets/arrow1.png"></span>
  </div>

  <div id="bar-chart">
    <div class="bars">
      <div class="bar-group">
        <div class="bar stat-1" [style.height.%]= "chosenMeta.level[0]">
          <span>{{chosenMeta.level[0]+'%'}}</span>
        </div>
        <div class="bar stat-2" [style.height.%]= "chosenMeta.level[1]">
          <span>{{chosenMeta.level[1]+'%'}}</span>
        </div>
        <div class="bar stat-3" [style.height.%]= "chosenMeta.level[2]">
          <span>{{chosenMeta.level[2]+'%'}}</span>
        </div>
      </div>

      <div id="rating-labels">
        <div><span class="stat-1"></span>&nbsp;IQ</div>
        <div><span class="stat-2"></span>&nbsp;FIGHT SKILLS</div>
        <div><span class="stat-3"></span>&nbsp;STRENGTH/POWER</div>
      </div>

    </div>
  </div>

  <div id="encloser">
    <div id="profile-panel" *ngIf = "hide" class = "slide"
        [class.not-hiddn] = "toggle">

        <span>{{chosenMeta.name | uppercase}}&nbsp;&nbsp;&nbsp;a.k.a
        &nbsp;&nbsp;{{chosenMeta.alias | uppercase}}</span>
      <ul>
        <li *ngFor= "let eachLine of chosenMeta.profile">
          {{eachLine}}
        </li>
      </ul>
        <div class="aligner">
          <div class="aligner-item aligner-item--top"></div>
          <div class="aligner-item">
            <img class="logo" src = "{{chosenMeta.logo}}">
          </div>
          <div class="aligner-item aligner-item--bottom"></div>
        </div>
      </div>
  </div>

</div>
