<div class="detail" *ngIf = "clicked">
  <!--i.e, if a meta has been clicked in the list displayed in the
  MetasComponent template view (and therefore a meta has been retrieved), then
   show the following...-->
  <div id="headshot" >

    <div class="flip-container"
      ontouchstart="this.classList.toggle('hover');">

      <div class="flipper">
        <img class="front" src = '{{clicked.headshotMeta}}' alt = '{{clicked.name}} Symbol' >
        <br><br>
        <div id="back-div" class="back alias">
          <img src = '{{clicked.headshot}}' alt = '{{clicked.name}} Symbol' >
        </div>
      </div>

    </div>

      <div id="info">
        <div id="name">{{clicked.name}}</div>
        <br>
        <div class="simpleText">a.k.a</div>
        <br>
        <div id="alias">{{clicked.alias}}</div>
        <br>
        <div id="profile">{{clicked.profile}}</div>
      </div>


  </div>

  <meta-rating [barHeights]="clicked.level" ></meta-rating>

</div>
