<div id="rating">
  <div id="bar-chart">
    <div class="bars">
      <div class="bar-group" (click)="toggle = !toggle;" >
        <div class="bar stat-1" [style.height.%]= "chosenMeta.level[0]">
          <span>{{chosenMeta.level[0]+'%'}}</span>
        </div>
        <div class="bar stat-2" [style.height.%]= "chosenMeta.level[1]">
          <span>{{chosenMeta.level[1]+'%'}}</span>
        </div>
        <div class="bar stat-3" [style.height.%]= "chosenMeta.level[2]">
          <span>{{chosenMeta.level[2]+'%'}}</span>
        </div>
      </div>

      <div id="rating-labels">
        <div><span class="stat-1"></span>&nbsp;IQ</div>
        <div><span class="stat-2"></span>&nbsp;FIGHT SKILLS</div>
        <div><span class="stat-3"></span>&nbsp;STRENGTH</div>
      </div>

    </div>
  </div>

  <div id="encloser">
    <div id="profile-panel" [class.hidden] = "!toggle"
          [class.not-hiddn] = "toggle">
      <ul>
        <li *ngFor= "let eachLine of chosenMeta.profile">
          {{eachLine}}
        </li>
      </ul>
    </div>
  </div>

</div>
