<div id="metasWrap">
  <ul class="metas background">
    <!--'metaShown' is a property of MetasComponent created
  by the component's ngOnInit method.-->
    <li niceShift *ngFor= "let individualMeta of metaShown"
          [class.selectedMeta]="individualMeta === selectedMeta"
          (click)="onSelect(individualMeta)">

         <!--When an item in the list is clicked, the component's onSelect function
            is called with the value of the clicked item as an argument.

          Where the value of individualMeta
          is equal to the value of selectedMeta, individualMeta
          is given the selectedMeta class.
        -->

      <span class="badge">{{individualMeta.id}}</span> {{individualMeta.name}}
    </li>
  </ul>
  <!--The 'clicked' property is created here, with the value of 'selectedMeta'-->
  <meta-detail [clicked]="selectedMeta"></meta-detail>
</div>
