<div class="detail" *ngIf = "clickedMeta">
  <!--i.e, if a meta has been clicked in the list displayed in the
  MetasComponent template view (and therefore a meta has been retrieved), then
   show the following...-->
  <div id="alias-btn" class ="bttn background"
    [class.red] = "toggle"
    [class.bttn-mask] = "messageToService"
    (click) = "toggle = !toggle;"
    ><span>ALIAS</span>
  </div>
  <div id = "headshot">

    <div class = "flip-container">

      <div class = "flipper"[class.showAlias] = "toggle">

      <div id = "front-div">
        <img class = "front" [class.hide] = "toggle" src = "{{clickedMeta.headshotsFront}}" alt = "{{clickedMeta.name}} image" >
      </div>

        <div id="back-div" class = "back">
          <img src = "{{clickedMeta.headshotsBack}}" alt = "{{clickedMeta.alias}} image" >
        </div>

        <div id="info">
          <div id = "name" class = "front" [class.hide] = "toggle">{{clickedMeta.name | uppercase}}</div>
          <div id = "alias" class = "back" [class.show] = "toggle">{{clickedMeta.alias | uppercase}}</div>
          <div id = "weaponry" class = "front" [class.hide] = "toggle">
            <!-- hide class for FF bug -->
            <ul>
              <p>WEAPONRY</p>
              <li *ngFor= "let eachLine of clickedMeta.weaponry">
                {{eachLine}}
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

  <meta-rating [chosenMeta] = "clickedMeta"></meta-rating>

</div>
