<div *ngIf = "barHeights" id="rating">
  <div id="bar-chart">
    <div class="bars">

      <div class="bar-group" (click)="toggle = !toggle;" >
        <div class="bar stat-1" [style.height.%]= "barHeights[0]">
          <span>{{barHeights[0]+'%'}}</span>
        </div>
        <div class="bar stat-2" [style.height.%]= "barHeights[1]">
          <span>{{barHeights[1]+'%'}}</span>
        </div>
        <div class="bar stat-3" [style.height.%]= "barHeights[2]">
          <span>{{barHeights[2]+'%'}}</span>
        </div>
      </div>

      <div id="rating-labels">

        <div><span class="stat-1"></span>&nbsp;IQ</div>
        <div><span class="stat-2"></span>&nbsp;FIGHT SKILLS</div>
        <div><span class="stat-3"></span>&nbsp;STRENGTH</div>
      </div>

    </div>
  </div>
  <div id="trans-panel"
   [class.shown] = "!toggle">
   <span>{{showProfile}}</span>
  </div>
</div>
