
  <div id="ticker" class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item">BREAKING HERO NEWS&nbsp;!&nbsp;!&nbsp;&nbsp;&nbsp;BREAKING HERO NEWS&nbsp;!&nbsp;!&nbsp;&nbsp;&nbsp;BREAKING HERO NEWS&nbsp;!&nbsp;!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="ticker__item">Spider-man spotted sitting on roof edge eating a churro&nbsp;!</div>
      <div class="ticker__item">Bespoke city tailor makes ultra-stretchy purple trousers for Bruce Banner&nbsp;!</div>
      <div class="ticker__item">Iron Man forgets to take off face-plate before eating ice-cream&nbsp;!</div>
    </div>
  </div>
